<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%c{0}:%L %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="org.hibernate.SQL" level="warn"/>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
